body {
    background: rgb(129, 180, 144);
    margin: 0 0;
    padding: 0 0;
}

a {
    color: inherit;
    text-decoration: none;
    size: inherit;
}

img#icon {
    border-radius: px;
    width: 80%;
    min-width: 200px;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

div#main-header {
    display: flex;
}

div#avcont {
    display: block;
    flex: 1;
    margin: 300px 1% 200px 20%;
}

div.bgnam {
    display: block;
    border-top: dotted;
    flex: autox1;
    background: rgba(190, 178, 178, 0.63);
    font-size: 1.5em;
    text-align: center;
    padding: 0 auto 0 0;
    border-bottom-style: dotted;
}

div.sub {
    display: block;
    flex: autox1;
    color: lightgray;
    font-size: 1.2em;
    text-align: left;
    padding: 0 auto 0 0;
}

div.bigname {
    display: block;
    flex: 1;
    margin: 300px auto 200px auto;
    text-align: left;
    padding: 0 auto 0 0;
}

.bigname h2 {
    margin: 5% 0 10% 0;
    font-size: 4em;
    font-weight: normal;
}

article#main-block {
    display: flex;
    background: #487067;
    color: white;
    padding: 5% 10%;
}

div.b {
    text-align: left;
}

div#about-me,
div#resources {
    flex: 1;
}

ty {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 25px;
    font-style: bold;
    font-variant: bold;
    color: rgb(59, 17, 0)
}

pre {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    color: #9b0000;
    line-height: 18.5714px;
}

div#resources h3,
div#about-me h3 {
    display: block;
    margin: 0 20%;
    border-radius: 1px;
    text-align: center;
    font-size: 2em;
    border: 2px solid #000000;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
}

div#resources div,
div#about-me p {
    padding: 25px 25px;
    margin: 30px 8%;
    color: white;
    font-size: 1.4em;
    border-radius: 1px;
    background: #003126c2;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
}

div#about-me p {
    font-style: normal;
}

div#resources {
    text-align: center;
    font-style: none;
}

footer {
    background: rgb(177, 207, 200);
    background: linear-gradient(90deg, rgba(177, 207, 200, 1) 0%, rgba(191, 218, 198, 1) 100%);
    color: #9b0000;
    display: flex;
}

footer div#smallname {
    border-top-style: dotted;
    flex: 1;
    padding: auto auto;
    margin: auto auto;
    border-bottom-style: dotted;
}

footer nav {
    flex: 3;
    padding-top: 15px;
}

.menu,
.menu ul {
    /* Обнуляем отступы и убираем маркеры у списков */
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    background: linear-gradient(to bottom, #fff, #f1f2f2);
    /* Градиент */
    border: 1px solid #999;
    /* Параметры рамки */
    padding: 0 5px;
    /* Поля */
    font: 14px Arial, sans-serif;
    /* Параметры шрифта */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Тень под меню */
}

.menu>li {
    display: inline-block;
    /* Выстраиваем по горизонтали */
    border-right: 1px solid #fff;
    /* Белая линия справа */
    position: relative;
    /* Относительное позиционирование */
}

.menu a {
    text-decoration: none;
    /* Убираем подчёркивание */
    color: #4c4c4c;
    /* Цвет ссылок */
    display: block;
    /* Блочные ссылки */
}

.menu>li>a {
    padding: 10px 15px;
    /* Поля */
    border-right: 1px solid #d8d8d8;
    /* Серая линия справа */
    position: relative;
    z-index: 3;
    /* Выводим поверх остальных элементов */
}

.menu ul {
    position: absolute;
    /* Абсолютное позиционирование */
    display: none;
    /* Прячем подменю */
    width: 200px;
    /* Ширина подменю */
    background: #fff;
    /* Цвет фона */
    box-shadow: 0 0 10px #666;
    /* Параметры тени */
}

.menu ul a {
    padding: 5px 10px;
    /* Поля */
}

.menu ul a:hover {
    background: #008df2;
    /* Цвет фона */
    color: #fff;
    /* Цвет текста */
}

.menu li:hover ul {
    display: block;
    /* Показываем подменю */
}

.menu>li:hover::before {
    content: '';
    /* Создаём пустой псевдоэлемент */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Размер совпадает с пунктом меню */
    box-shadow: 0 5px 10px #666;
    /* Параметры тени */
    position: absolute;
    /* Абсолютное позиционирование */
}

.menu>li:hover>a {
    background: #fff;
    /* Цвет фона */
}


/**/


/*vert line */